<div class="img_header">

  <nav class="header_menu" *ngIf="this.auth.loggedIn==false">
    <a class="menu__logo" href="/index.html">Bambook</a>
    <a class="menu_link" href="books">BOOKS</a>
    <a class="menu_link" href="offers">OFFERS</a>
    <a class="menu_link_right" href="auth/register">SIGN UP</a>
    <a class="menu_link_right" href="auth/login">LOG IN</a>
  </nav>

  <nav class="header_menu" *ngIf="this.auth.loggedIn">
    <a class="menu__logo" href="/index.html">Bambook</a>
    <a class="menu_link" href="books">BOOKS</a>
    <a class="menu_link" href="offers">OFFERS</a>
    <a class="menu_link" href="books/add">Add Book</a>
    <a class="menu_link" href="offers/add">Add Offer</a>
    <a class="menu_link_right" href="#" (click)="this.auth.logout()">LOG OUT</a>
    <a class="menu_link_right" href="profile">PROFILE</a>
  </nav>
</div>
