.book-view {
  /*text-align: center;*/
  justify-content: center;
  display: flex;
}

.book-image {
  margin: 0px 50px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}

.book-image img {
  width: 240px;
  height: 300px;
}

.book-info {
  float: left;
  width: 40%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}

.book-title {

}

