.book-view {
  /*text-align: center;*/
  justify-content: center;
  display: flex;
}

.book-image {
  margin: 0px 50px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
  max-height: 440px;
}

.book-image img {
  width: 300px;
  height: 400px;
}

.book-info {
  float: left;
  width: 40%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}

.book-title {
}

.book-name {
  font-size: 35px;
}

.subscribe-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color:#79bbff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
  margin-top: 1em;
}
.subscribe-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
  background-color:#378de5;
}
.subscribe-button:active {
  position:relative;
  top:1px;
}

.subscribe-button a {
  color: white;
  text-decoration: none;
}

.book-description {
  margin-top: 15px;
  font-style: italic;
}

.reviews {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.average-rating {
  font-size: 20px;
}

.average-rating span {
  font-size: 20px;
  color: #57b846;
}

.book-author {
  font-size: 20px;
}

.book-author span {
  font-size: 20px;
  color: #57b846;
}
