 <div class="book-view">
    <div class="book-image">
      <img src="{{ book.book.cover_photo.url }}" class="books__img" alt="Book Image">
    </div>
   <div class="book-info">
      <div class="book-title">
        <div *ngIf="book">
          <div class="book-name">"{{book.book.title}}"</div>
        </div>
        <p class="book-author"> <span>Author: </span>{{book.book.author}}</p>
        <div class="average-rating"><span>Average Rating:</span> {{book.rating.rating}}/5</div>
      </div>
      <div class="book-description">
        <div *ngIf="book">
          {{book.book.description}}
        </div>
      </div>
      <div class="book-details">
        <div *ngIf="this.auth.loggedIn">
          <div *ngIf="sameUser()">
            <button class="subscribe-button"><a href="{{book.book.book_file.url}}"  download>Download link</a></button>
            <button class="subscribe-button" (click)="deleteBook(book.book.id)">Delete Book</button>
            <button class="subscribe-button" routerLink="/books/update/{{ book.book.id }}" >Edit</button>
          </div>
        </div>
      </div>
  </div>
 </div>

 <app-add-review></app-add-review>
 <div class="reviews">
   <app-reviews></app-reviews>
 </div>

