
<div *ngIf="this.auth.loggedIn; else logInToAddBook" class="container">
  <form (submit)="submitBook()" class="contact100-form validate-form">

    <div *ngIf="message" class="alert alert-danger">
      {{message}}
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Title:</span>
      <input type="text" [(ngModel)]="title" name="title" class="input100" placeholder="Enter title of the book">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Author:</span>
      <input class="input100" type="text" [(ngModel)]="author" name="author" placeholder="Enter author name">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Book File:</span>
      <input type="file" class="form-control" name="book_file" (change)="onFileSelected($event)">
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Book Photo:</span>
      <input type="file" class="form-control" name="cover_photo" (change)="onPhotoSelected($event)">
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Description:</span>
      <textarea [(ngModel)]="description" name="description" class="input100" placeholder="Your Description..."></textarea>
      <span class="focus-input100"></span>
    </div>

    <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
              <span>
                Submit
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
      </button>
    </div>

  </form>
</div>

<ng-template #logInToAddBook>
  <h1>You need to be logged in to add a book!</h1>
</ng-template>
