.books {
  margin-top: 10px;
  justify-content: space-between;
  text-align: center;
  display: block;
  background-color: #F7F7F7;
}

.books__block {
  display: flex;
  width: 1024px;
  margin: 0 auto 101px;
  flex-wrap:  wrap;

}

.block {
  width: 210px;
  margin: 35px 22px auto;
  background: #ffffff;
  border: 1px solid #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  /*margin-bottom: 27px;*/
  float: left;

  /* text-align:center; */
  /* font-size: 1em; */
  /* padding: 1.5em; */
}

.books__img {
  max-width: 180px;
  max-height: 300px;
  margin-top: 13px;
  margin-bottom: 11px;
}
