<section class="books">
  <h1 class="books__title">
    {{title}}
  </h1>
  <div align="center">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}" (click)="getPage(1)">First</li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" (click)="getPage(pager.currentPage - 1)">Previous</li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="getPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="getPage(pager.totalPages)">Next</li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="getPage(pager.totalPages)">Last</li>
    </ul>
  </div>
  <div class="books__block" >
    <figure class="block" *ngFor="let book of books.books" [routerLink]="[book.id]">
      <img src="{{ book.cover_photo.url }}" class="books__img" alt="{{ book.title }}">
    </figure>
  </div>
</section>

<div align="center">
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" (click)="getPage(1)">First</li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" (click)="getPage(pager.currentPage - 1)">Previous</li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="getPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="getPage(pager.totalPages)">Next</li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="getPage(pager.totalPages)">Last</li>
  </ul>
</div>

