.books {
  margin-top: 10px;
  justify-content: space-between;
  text-align: center;
  display: block;
  background-color: #F7F7F7;
}

.books__block {
  display: flex;
  width: 1024px;
  margin: 0 auto 101px;
  flex-wrap:  wrap;

}

.block {
  width: 210px;
  margin: 35px 22px auto;
  background: #ffffff;
  border: 1px solid #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  /*margin-bottom: 27px;*/
  float: left;

  /* text-align:center; */
  /* font-size: 1em; */
  /* padding: 1.5em; */
}

.books__img {
  max-width: 180px;
  max-height: 300px;
  margin-top: 13px;
  margin-bottom: 11px;
}


.books {
  /*width: 0 auto;*/
  /*margin: 0 auto;*/
  margin-top: -80px;
  /* width: 1024px; */
  /* margin: 0 auto 101px; */
   justify-content: space-between;
  text-align: center;
  /* padding: 50px 0 55px; */
  display: block;
  background-color: #F7F7F7;
}

/*.books__block {*/
  /*display: flex;*/
  /*!* flex-direction: column; *!*/
  /*!*justify-content: space-between;*!*/
  /*!*width: 100%;*!*/
  /*width: 1024px;*/
  /*margin: 0 auto 101px;*/
  /*flex-wrap:  wrap;*/
  /*!* padding: 0 18px; *!*/
  /*!* display: flex; *!*/
  /*!* border:1px #ccc solid; *!*/

/*}*/

/*.block {*/
  /*!* width: 100%; *!*/
  /*width: 196px;*/
  /*margin: 15px 30px auto;*/
  /*!*background: red;*!*/
  /*!*border: 2px solid black;*!*/
  /*!*margin-bottom: 27px;*!*/
 /*!*float: left;*!*/

/*!* text-align:center; *!*/
/*!* font-size: 1em; *!*/
/*!* padding: 1.5em; *!*/
/*}*/

/*!*.block:after {*!*/
  /*!*content: '';*!*/
  /*!*flex: 0 1 100px;*!*/
/*!*}*!*/
/*!* h1 {*/
  /*width: 1024px;*/
  /*margin: 0 auto;*/
/*} *!*/

/*!* div {*/
  /*width: 1024px;*/
  /*margin: 0 auto;*/
  /*display: flex;*/
  /*flex-direction: column;*/
/*} *!*/
/*.books__img {*/
  /*max-width: 180px;*/
  /*max-height: 300px;*/
  /*margin-top: 10px;*/
  /*!* width: 62px;*/
  /*height: 55px; *!*/
  /*margin-bottom: -10px;*/
/*}*/

.books__title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  font-weight: 700;
  line-height: 75px;
  margin: 99px 0 0;
  padding-bottom: 0;
}
