<div class="container">

  <div class='menu'>
    <div class='avatar' *ngIf="user_data.user.gender=='male'">
      <img src="https://www.manohman.com.au/favicon.png" alt="Avatar">
    </div>
    <div class='avatar' *ngIf="user_data.user.gender=='female'">
      <img src="https://seeklogo.com/images/G/girl-logo-C7099BFDC9-seeklogo.com.png" alt="альтернативный текст">
    </div>
    <div class='horizontal_menu'>
      <div>
        <div class="user_data">Email: {{this.user_data.user.email}}</div>
        <div class="user_data">Available_money: {{this.user_data.wallet.available_money}} UAH
        </div>
        <div class="user_data">Frozen_money: {{this.user_data.wallet.frozen_money}} UAH</div>
        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn">
              <span><a class="button_link" href="profile/recharge">Recharge
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </a>
              </span>
          </button>
        </div>
        <br><br><br>
        <div class="menu_links">
          <div class="div_link">Books</div>
          <div class="div_link">
            <a class="menu_link" href="profile/purchaser">Purchased offers</a>
          </div>
          <div class="div_link">Current offers</div>
          <div class="div_link">
            <a class="menu_link" href="profile/recharges">Recharges</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


