.wrapper {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border:1px solid rgba(55, 131, 229, 0.22);
}

.column {
  width: 25%;
}

.title {
  color: #57b846;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

a:link {
  color: #1d6ae5;
  text-decoration: none;
}

.menu {
  /*border: 1px solid grey;*/
  margin: auto;
  width: 70vw;
  height:40vh;
  display: flex;
}

.avatar {
  background-color: #66B846;
  width: 25%;
  border-radius: 15px;
}

.horizontal_menu {
  padding-left: 2vw;
  width: 45%;
  display: flex;
  align-items: flex-end;

}

.avatar img {
  width: 100%;
  max-height: 40vh;
}

.div_link {
  text-decoration: underline;
  margin: 10px;
}

.user_data {
  border-bottom: 1px solid #66B846;
  margin: 10px;
}

.menu_links {
  display: flex;
  justify-content: space-around;
}

.menu_link {
  color: green;
}

.button_link {
  color: white;
}

.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 130px;
  height: 30px;
  background-color: #57b846;
  border-radius: 25px;

  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #333333;
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}

